<!-- createblog.ejs -->
<h1>Add Blog</h1>
<form action="/addblog" method="post" class="p-5">
  <!-- Your form inputs... -->
  
  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
